.lab-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.labTable {
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 85%;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15);
}

.labTable thead tr {
    background-color: #353a59;
    color: #ffffff;
    text-align: left;
}

.labTable th,
.labTable td {
    padding: 12px 15px;
}

.labTable tbody tr {
    border-bottom: thin solid #838383;
}

.labTable tr:nth-child(even) {
    background-color: #f3f3f3;
}

.labTable tr:last-of-type {
    border-bottom: 2px solid #353a59;
}

.labTable tbody tr:hover {
    transition: 0.2s;
    background-color: #5961cd;
    color: #ffffff;
}