.filter-bar{
    display: flex;
    height: 4vh;
    width: 10%;
    border-radius: 10px;
    background-color: #e6e6e6;
}
.filter-img{
    margin: 8px;
}
.filter-input{
    font-size: 20px;
    font-weight: 500;
    height: 100%;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}