.create-emp {
  display: flex;
  width: 85%;
  margin: 1rem auto;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.form-group {
  outline: none;
  margin-bottom: 1rem;
  width: 20%;
}
.form-fields{
  display: flex;
  outline: none;
  width: 90%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
/* 
.create-emp input[type="text"] {
  outline: none;
  width: 90%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.create-emp button.submit-btn {
  padding: 0.5rem 1rem;
  background-color: #353a59;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */

.create-emp button.submit-btn:hover {
  background-color: #353a59;
}

.error {
  color: red;
  /* Display error messages in red */
  font-size: 0.8rem;
  /* Smaller font size for error messages */
  margin-top: 0.25rem;
  /* Add some space above the error message */
}