/* CreateEmpList.css */

.create-emp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-fields {
  width: 80%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.75);
  -moz-box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.75);
  box-shadow: 0px 0px 10px 2px rgba(173, 173, 173, 0.75);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group input {
  text-indent: 10px;
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group .searchable-dropdown input:focus {
  border-color: #007bff;
  outline: none;
}

.form-group .error {
  color: #ff0000;
  font-size: 14px;
  margin-top: 5px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  gap: 50px;
}

.form-actions button {
  width: 200px;
  height: 50px;
}

.submit-emp-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
  grid-column: span 3;
  justify-self: center;
}
.submit-emp-btn:hover {
  transform: scale(1.05);
  background-color: #0056b3;
}
.submit-emp-btn:active{
  transform: scale(1);

}

.submit-btn:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

.clear-btn {
  padding: 10px 20px;
  font-size: 16px;
  color: #000;
  background-color: #ffffff;
  border: 2px solid #007bff;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-btn:hover {
  border: 2px solid #000000;
}

.submit-btn:hover:not(:disabled) {
  background-color: #0056b3;
}

.error {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  grid-column: span 3;
}
.telephone-buttons, .mail-buttons{
display: flex;
gap: 20px;

}
.telephone-btn, .mail-btn {
    background-color: #0056b3; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    border-radius: 5px; 
    margin-top: 10px; 
    transition: 0.3s ease; 
}

.telephone-btn:hover, .mail-btn:hover {
    background-color: #007bff; 
    transform: scale(1.05); 
}

