.emp-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.emp-list h1{

    padding: 2vw 0;
    font-size: 5em;
    font-weight: 800;
}

.empTable { 
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 80%;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.15);
}

.empTable thead tr{
    background-color: #353a59;
    color: #ffffff;
    text-align: left;
}
.empTable th, .empTable td{
    padding: 12px 15px;
}

.empTable tbody tr{    
    border-bottom: thin solid #dddddd;
}

.empTable tr:nth-child(even) {
    background-color: #f3f3f3;
}

.empTable tr:last-of-type{
    border-bottom: 2px solid #353a59;
}

.empTable tbody tr:hover {
    background-color: #5961cd;
    color: #ffffff;
}
