.empTable {
    width: 80%;
    border: none;
}

.empTable th,
td {
    text-align: center;
    border-radius: 20px;
    padding: 8px 12px;
    border: 1px solid #ddd;

}

.empTable th {
    border-radius: 20px;
    background-color: #f4f4f4;

}

.empTable tr:nth-child(even) {
    border-radius: 20px;
    background-color: #f9f9f9;
}